.error{
    padding:  10px;
    color: green;
    border: 1px dotted crimson;
}
.success{
    padding: 10px;
    color: limegreen;
    border:  1px dotted limegreen;
}
/* forms and form ivents */
body{
    background: #eee;
}
form{
    max-width: 200px;
    margin: 40px auto;
    background: white;
    padding: 10px;
}
input{
    display: block;
    margin: 10px auto;
    padding: 4px;
}
.successvalidation{
    border: 2px solid limegreen;
}
.errorvalidation{
    border: 2px solid crimson;
}